body{
    background-color: rgb(217, 243, 243);
}
button{
    margin:5px;
    width:60px;
    height:60px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(242, 204, 154);
}
h1{
    margin-left: 34%;
}
button:hover{
    background-color: grey;
}
.calculator{
    border:2px solid black;
    width: 390px;
    margin-left: 33%;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(203, 223, 152);
}
.screen{
    height:80px;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: aliceblue;
}
.numbers{
    padding: 10px;
}
/* @media screen and (max-width:579px) {
    .calculator{
        margin-left: 250px;
    }
    h1{
        margin-left: 280px;
    }
} */